<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{header :: head}">
  <!-- header.html -->
</head>

<body>

<nav th:insert="~{navbar :: div}">
  <!-- navbar.html -->
</nav>

<div class="div-whole">
  <img rel="shortcut icon" th:src="@{images/frog-logo.jpg}" alt="logo-ai-generated" class="img-logo">
  <h1 class="h1-index">Přístup pro API</h1>
  <div th:if="${authorized}">
    <p>
      Data o počasí ve formátu JSON.
      <br>
      Tvůj osobní API klíč: <strong><span th:text="${userKey}"></span></strong>
      <br>
      Parametry: <br>
      <strong>key</strong>: tvůj api klíč<br>
      <strong>location</strong>: hledaná lokace (bez diakritiky)<br>
      <a th:href="@{'/api?key=' + ${userKey} + '&location=Liberec'}">Zkus si to zde...</a>
    </p>
  </div>
  <div th:unless="${authorized}">
    <p>Pouze pro placený přístup</p>
    <p><a th:href="@{/registrace}">Zaregistrujte se</a> nebo <a th:href="@{/prihlaseni}">se přihlašte</a></p>
    <img rel="shortcut icon" th:src="@{images/lock-sign.jpg}" alt="lock-sign-ai-generated" class="img-lock">
  </div>

</div>
</body>
</html>