<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="header :: head">
    <!-- header.html -->
</head>

<body>
<img rel="shortcut icon" th:src="@{images/frog-logo.jpg}" alt="logo-ai-generated" class="img-logo">
<h1>Aktuální počasí</h1>
<p>
    V místě: <strong><span th:text="${wmodel.getLocation().getName()}"></span></strong>
    (<span th:text="${wmodel.getLocation().getRegion()}"></span>,
    <span th:text="${wmodel.getLocation().getCountry()}"></span>)
    <br>

    je aktuálně: (<span th:text="${wmodel.getCurrent().getFormattedTime()}"></span>)<br>
    <strong><span th:text="${wmodel.getCurrent().getText()}"></span>
    <span th:text="${wmodel.getCurrent().getTemp_c()}"></span>°C</strong>
    <span>
        <img th:src="@{${wmodel.getCurrent().getIcon()}}" alt="Weather Icon" />
    </span>
</p>

<h1>Předpověď počasí</h1>
<table>
    <thead>
    <tr>
        <th>Čas</th>
        <th>Text</th>
        <th>Teplota (°C)</th>
        <th>Ikona</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="condition : ${wmodel.getForecast()}">
        <td th:text="${condition.getFormattedTime()}"></td>
        <td th:text="${condition.getText()}"></td>
        <td th:text="${condition.getTemp_c()}"></td>
        <td>
            <img th:src="@{${condition.getIcon()}}" alt="Weather Icon" />
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
