<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{header :: head}">
    <!-- header.html -->
</head>

<body>

<nav th:insert="~{navbar :: div}">
    <!-- navbar.html -->
</nav>

<div class="div-whole">
<img rel="shortcut icon" th:src="@{images/frog-logo.jpg}" alt="logo-ai-generated" class="img-logo">
<h1 class="h1-index">Aktuální počasí</h1>
<p>
    V místě: <strong><span th:text="${wmodel.getLocation().getName()}"></span></strong>
    (<span th:text="${wmodel.getLocation().getRegion()}"></span>,
    <span th:text="${wmodel.getLocation().getCountry()}"></span>)
    <br>

    je aktuálně: (<span th:text="${wmodel.getCurrent().getFormattedTime()}"></span>)<br>
    <strong><span th:text="${wmodel.getCurrent().getText()}"></span>
    <span th:text="${wmodel.getCurrent().getTemp_c()}"></span>°C</strong>
    <span>
        <img th:src="@{${wmodel.getCurrent().getIcon()}}" alt="Weather Icon" />
    </span>
</p>

<h2 class="h2-index">Předpověď počasí</h2>
    <div th:if="${authorized}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Čas</th>
                <th scope="col">Počasí</th>
                <th scope="col">Ikona</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="condition, iterStat : ${wmodel.getForecast()}">
                <td th:text="${condition.getFormattedTime()}"></td>
                <td>
                    <strong><span th:text="${condition.getText()}"></span></strong> <span th:text="${'(' + condition.getTemp_c()} + '°C)'"></span>
                </td>
                <td><img th:src="@{${condition.getIcon()}}" class="td-icon" alt="Weather Icon" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${authorized}">
        <div th:insert="~{component-paywall-info :: div}">
            <!-- component-paywall-info.html -->
        </div>
    </div>

<h2 class="h2-index">Historie počasí</h2>
    <div th:if="${authorized}">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Čas</th>
                <th scope="col">Počasí</th>
                <th scope="col">Ikona</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="condition, iterStat : ${wmodel.getHistory()}">
                <td th:text="${condition.getFormattedTime()}"></td>
                <td>
                    <strong><span th:text="${condition.getText()}"></span></strong> <span th:text="${'(' + condition.getTemp_c()} + '°C)'"></span>
                </td>
                <td><img th:src="@{${condition.getIcon()}}" class="td-icon" alt="Weather Icon" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${authorized}">
        <div th:insert="~{component-paywall-info :: div}">
            <!-- component-paywall-info.html -->
        </div>
    </div>


    <div th:if="${authorized}">
        <div th:if="${isFavorite}">
            <form th:action="@{/zrusit-misto}" method="post">
                <input type="hidden" name="changeLocation" th:value="${wmodel.getLocation().getName()}"/>
                <td><button class="btn btn-outline-info btn-lg btn-block" type="submit">Smazat z oblíbených</button></td>
            </form>
        </div>
        <div th:unless="${isFavorite}">
            <form th:action="@{/pridat-misto}" method="post">
                <input type="hidden" name="changeLocation" th:value="${wmodel.getLocation().getName()}"/>
                <td><button class="btn btn-outline-info btn-lg btn-block" type="submit">Přidat k oblíbeným</button></td>
            </form>
        </div>
    </div>
</div>
</body>
</html>
