<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{header :: head}">
  <!-- header.html -->
</head>

<body>

<nav th:insert="~{navbar :: div}">
  <!-- navbar.html -->
</nav>

<div class="div-whole">
  <img rel="shortcut icon" th:src="@{images/frog-logo.jpg}" alt="logo-ai-generated" class="img-logo">
  <h1 class="h1-index">Přihlášení</h1>
  <form action="#" th:action="@{/index}" method="post">
    <div class="form-group">
      <input type="text" class="form-control" id="usernameInput" name="usernameInput" aria-describedby="usernameHelp" placeholder="Zadejte uživatelské jméno">
      <small id="usernameHelp" class="form-text text-muted">Uživatelské jméno nesmí obsahovat mezery</small>
      <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Zadejte heslo">
    </div>
    <button type="submit" class="btn btn-dark btn-custom">Přihlásit</button>
  </form>
  <p>Nejste registrováni? Nevadí registrace je možní <a th:href="@{/registrace}">zde</a>.
  </p>
</div>
</body>
</html>