body {
    margin: 0;
    text-align: center;
}

p, th, td, .navbar-brand, .nav-item {
    font-size: 1.2rem;
}

.div-whole{
margin: 2rem 18rem;
}

.h1-index {
margin: 2rem 0;
font-size: 2.5rem;
}

.img-logo {
    width: 6rem;
    border-radius: 100%;
}

@media screen and (max-width: 1190px) {
    .div-whole{
    margin: 3rem 0.5rem;
    }
}

@media screen and (max-width: 590px) {
    th, td {
        font-size: 0.8rem;
    }

    .td-icon {
        width: 2rem;
    }

}